div
	{	
	height: 200px;
	width: 200px;
	}
.amarillo 
	{
	background-color: yellow;
	position: static;
	right: 0;
	bottom: 0;
	}
.azul
	{
	background-color: blue;
	position: static;
	right: 0;
	top: 0;
	}
.rojo 
	{
	background-color: red;
	position: static;
	left: 0;
	top: 0;
	}
.verde
	{
	background-color: green;
	position: static;
	left: 0;
	bottom: 0;
	}
/* Inserta tu CSS aqui */